.app {
  min-height: 100vh;
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
  padding: 30px;
}

nav {
  margin-bottom: 30px;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

h2 {
  color: #38bdf8;
}

p {
  color: #cbd5e1;
}